/* body {
    background-color: linear-gradient(to left, rgb(108, 168, 247), rgb(245, 223, 100));
} */

nav {
    background: linear-gradient(to right, #2980b9, #6dd5fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* #skybluebackground {
    background-color: linear-gradient(to right, #2980b9, #6dd5fa);
} */