<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flat Earth BirdWatchers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="static/fox-favicon.png"" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Bootstrap stuff -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
      function initialize() {
        var options = {
          atmosphere: true,
          center: [0, 0],
          zoom: 2.4,
          zooming: false,
          sky: false,
        };
        var earth = new WE.map("earth_div", options);
        WE.tileLayer("http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg", {
          minZoom: 0,
          maxZoom: 5,
          attribution: "NASA"
        }).addTo(earth);

        //Print coordinates of the mouse
        earth.on("mousemove", function(e) {
          document.getElementById("coords").innerHTML =
            "Latitude: " + e.latlng.lat + ", Longitude: " + e.latlng.lng;
        });
      }

      document.getElementById('intheair').onselect = function() {
      document.getElementsByTagName('p').style.color = this.options[ this.selectedIndex ].value;
    }
    </script>
  </head>
  <body>
    <nav
      class="navbar navbar-toggleable navbar-expand-lg fixed-top .bg-dark navbar-dark"
      id="navbar"
    >
          <a class="navbar-brand" href="/">
            <img
              src="static/fox-favicon.png"
              width="70"
              height="60"
              class="d-inline-block align-top"
              alt="logo"
              style="margin-right: 0px; padding-right: 0px;"
            />
          </a>
          <div class="navbar-header">
            <a
              class="navbar-brand"
              href="/"
              style="color: red; margin-left: 0px; padding-left:0px; font-family: 'Alegreya Sans SC'; font-size: 21px;"
              >Flat Earth BirdWatchers</a
            >
          </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="color: white;">
          <li class="nav-item dropdown" style="float: right;">
            <a
              class="nav-link dropdown"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: white; font-family: 'Alegreya Sans SC'; font-size: 17px;"
            >
              In The Air
            </a>
            <div class="dropdown-menu" id="intheair" aria-labelledby="navbarDropdown" style="font-family: 'Alegreya Sans SC'; color: white; background: #1b1b1b;">
              <a class="dropdown-item" id="iplocation" href="../radiusform" style="font-family: 'Alegreya Sans SC'; color: white; font-size: 17px;">Use Your IP</a>
              <a class="dropdown-item" id="customlocation" href="../picker" style="font-family: 'Alegreya Sans SC'; color: white; font-size: 17px;">Custom Location</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: white; font-family: 'Alegreya Sans SC'; font-size: 17px;"
            >
              Account
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="background: #1b1b1b">
              <a class="dropdown-item" href="../logout" style="font-family: 'Alegreya Sans SC'; color: white; font-size: 17px;">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    {% block body %}
    <body onload="initialize()">
      <br />
      <br />
      <center>
        <div
          class="jumbotron"
          style="background: #140316; text-align: center; color: white; margin-bottom: 0px; border-radius: 0px;"
        >
          <br />
          <br />

          <h1 class="display-4" style="font-family: 'Lato', sans-serif;">Welcome {{ username }}</h1>
          <p class="lead" style="font-family: 'Lato', sans-serif;">
            We are the VSCOdeGirls and this is the Flat Earth BirdWatchers
            project. As you can see below, we have a flat earth. Using our web
            application, you can query for nearby planes around your location or
            anywhere else on this flat rock. Onward and upward!
          </p>
          <a
            class="btn btn-dark btn-lg"
            href="/radiusform"
            role="button"
            style="color: white; font-family: 'Lato', sans-serif;"
            >Use Your Current Location</a
          >

          <a
            class="btn btn-dark btn-lg"
            href="/picker"
            role="button"
            style="color: white; font-family: 'Lato', sans-serif;"
            >Use A Custom Location</a
          >

        </div>
        <div
          class="jumbotron"
          id="homebackground"
        >

        <div id="earth_div" style="width: 40%; height: 500px;"></div>
        </div>
        <!-- <div
          class="jumbotron"
          style="background: url(../static/earth-background.png);
        background-position: center;
        background-size: 100% 400px;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        border-radius: 0px;"
        >
        </div> -->
      </center>
    </body>

    {% endblock %}
  </body>
</html>
