<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Flat Earth Bird Watchers</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='../static/css/main.css'>
  <link rel="icon" 
      type="image/png" 
      href="static/plane.png">
  <!-- Bootstrap stuff -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
      function initialize() {
        var options = {atmosphere: true, center: [0, 0], zoom: 0};
        var earth = new WE.map('earth_div', options);
        WE.tileLayer('http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg', {
          attribution: 'NASA'
        }).addTo(earth);
      }
    </script>
</head>
<body style="background: linear-gradient(to right, #2980b9, #6dd5fa);">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);">
    <a class="navbar-brand" href="/">
      <img src="static/VSCO-logo.png" width="50" height="50" class="d-inline-block align-top" alt="logo" style="margin-left: 0px;">
    </a>
    <a class="navbar-brand" href="/">Flat Earth Bird Watchers</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            In The Air
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../radiusform">Use Your IP</a>
            <a class="dropdown-item" href="#">Custom Location</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown" style="float: right;">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: black;"
            >
              Account
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="../logout">Log out</a>
              </div>
          </li>
        </ul>
    </div>
  </nav>

  {% block body %}
  <body onload="initialize()">
      <div class="jumbotron" style="background: linear-gradient(to right, #2980b9, #6dd5fa); text-align: center;">
      <h1 class="display-4">Welcome {{ username }}</h1>
      <p class="lead">We are the VSCOdeGirls and this is the Flat Earth Bird Watchers project. As you can see below, we have a flat earth. Using our web application, you can query for nearby planes around your location or anywhere else on this flat rock. Onwards and upwards!</p>
    </div>
    <center>
      <div id="earth_div" style="width: 50%;"></div>
    </center>
  </body>
  

  {% endblock %}


  </html>
