<!DOCTYPE html>
<html>
<head>
  {% block title %} <title>Login</title> {% endblock %}
  <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flat Earth Bird Watchers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="static/fox-favicon.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Bootstrap stuff -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="http://www.webglearth.com/v2/api.js"></script>
</head>
<body style="background: url(../static/earth-background.png); background-size: 100% 100%; background-repeat: no-repeat; padding-bottom: 21%; height: 5%; background-position-x: center;">
  <nav
  class="navbar navbar-toggleable navbar-expand-lg fixed-top .bg-dark navbar-dark"
  id="navbar"
>
      <a class="navbar-brand" href="/">
        <img
          src="static/fox-favicon.png"
          width="70"
          height="60"
          class="d-inline-block align-top"
          alt="logo"
          style="margin-right: 0px; padding-right: 0px;"
        />
      </a>
      <div class="navbar-header">
        <a
          class="navbar-brand"
          href="/"
          style="color: #ff3434; margin-left: 0px; padding-left:0px; font-family: 'Alegreya Sans SC'; font-size: 21px;"
          >Flat Earth BirdWatchers</a
        >
      </div>
</nav>
  <br />
  <br />
  <br />
  <br />


  {% block form %}
  <div class="container" style="padding-top:75px;">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="signincard" style="height: 230px;">
        <div class="card card-signin bg-light my-5 border-radius">
          <div class="card-body">
            <!-- <h5 class="card-title text-center">Sign In</h5> -->
            <form class="form-signin" action="/auth" method="POST"> <!-- POST b/c arguments in the address bar is a bad idea -->
              <div class="form-label-group">
                <label class="login-input" for="inputUsername">Username: </label>
                <input type="text" id="inputUsername" name="user" required="required" autofocus>

              </div>

              <div class="form-label-group">
                <label class="login-input" for="inputPassword">Password: </label>
                <input type="password" id="inputPassword" name="pw" required="required">
              </div>
              <center>
                  {% set msgs = get_flashed_messages() %}
                  {% for each in msgs %}
                  <p id="authflashmsg"> {{ each }} </p>
                  {% endfor %}

                  </center>
            </div>
            <button class="btn btn-lg btn-secondary btn-block text-uppercase" id="loginbutton" type="submit" values="Submit">Sign in</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<center style="color: blue;">
  {% block registerbutton %}
  Don't have an account?<a href=/signup id="signuplink"> <font color="white"> Create one now.</a> </font>
  {% endblock %}

  <h4>&copy; Team VSCOdeGirls</h4> </center>
  </html>
