{% extends "base.html" %} {% block body %}

<body onload="initialize()">
  <div
    class="jumbotron"
    style="background: linear-gradient(to right, #2980b9, #6dd5fa); text-align: center;"
  >
    <a class="btn btn-primary btn-lg" href="/picker" role="button"
      >Use Your IP Address</a
    >

    <a class="btn btn-primary btn-lg" href="/picker" role="button"
      >Use Your Current Location</a
    >
  </div>
  <center>
    <div id="coords"></div>
    <div id="earth_div" style="width: 50%; height: 450px;"></div>
  </center>
</body>

{% endblock %}
