{% extends "base.html" %} {% block body %}

<script>
  function locationPicker() {
    var options = {
      atmosphere: true,
      center: [0, 0],
      zoom: 2.4,
      zooming: true,
      sky: true,
    };
    var earth = new WE.map("earth_div", options);
    WE.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "NASA"
    }).addTo(earth);

    //Print coordinates of the mouse
    earth.on("click", function(e) {
      document.getElementById("coords").innerHTML =
        "Latitude: " + e.latlng.lat + ", Longitude: " + e.latlng.lng;
    });
  }
</script>

<body
  onload="locationPicker()"
  style="background: url(../static/black-sky.png);
background-position: center;
background-size: 100% 140%;
background-repeat: no-repeat; margin-bottom: 100px; border-radius: 0px;"
>
  <br />
  <br />
  <br />
  <br />
  <br />

  <center>
    <div
      id="coords"
      style="color: white;
      padding-bottom: 50px; font-family: 'Lato', sans-serif;"
    >
      Latitude: 0, Longitude: 0
    </div>
    <div id="earth_div" style="width: 80%; height: 150%;"></div>
  </center>
</body>

{% endblock %}
